:root {
    --background-color: #040915;
    --border-color: rgba(255,255,255,0.1);
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    border: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    border-left: 1px solid var(--border-color);
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.nav-section > a {
    color: rgba(255, 255, 255, 0.36);
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-section > a:hover {
    color: white;
}

#nav-logo, #nav-link {
    flex-basis: calc(100% / 3);
}

#nav-social, #nav-contact {
    flex-basis: calc(100% / 6);
}

#nav-logo {
    justify-content: flex-start;
}

#nav-logo > a > i {
    font-size: 2.5rem;
}
