:root {
    --background-color: #040915;
    --border-color: rgba(255,255,255,0.1);
    --text-color: rgba(255, 255, 255, 0.36);
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    border: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 2rem 2rem;
    display: flex;
    border-left: 1px solid var(--border-color);
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.nav-section > a {
    color: var(--text-color);
    font-weight: 400;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-section > a:hover {
    color: white;
}

#nav-logo, #nav-link {
    flex-basis: calc(100% / 3);
}

#nav-social, #nav-contact {
    flex-basis: calc(100% / 6);
}

#nav-logo {
    justify-content: flex-start;
}

#nav-logo > a > i {
    font-size: 2.5rem;
    color: white;
    cursor:default;
}

#nav-social > a > i {
    font-size: 1.5rem;
    color: white;
}

/* main */

main {
    flex-grow: 1;
}

main > article {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
    height: 100%;
    width: 100%;
    color: var(--text-color);
}

main > article > .article-description, main > article > .article-nav {
    border-left: 1px solid var(--border-color);
}

main > article > .article-title, main > article > .article-nav {
    border-top: 1px solid var(--border-color);
}

.article-description {
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-start;
    align-items:flex-end;
    padding: 3.5rem 3.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

.article-nav {
    display: flex;
    font-size: 6rem;
    font-weight: 0;
    justify-content: center;
    align-items: center;
}

.article-nav i:first-child {
    border-right: 1px solid var(--border-color);
    padding-right: 4rem;
}

.article-nav i:nth-child(2) {
    padding-left: 4rem;
}
.article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.article-title-spec {
    font-family: 'Fredoka One', Montserrat, sans-serif;
    font-size: 4.5rem;
    padding: 0;
}

.article-image {
    background-size: cover;
    background-position-y: center;
}